body {
  /* Create a diagonal gradient background */
  background: linear-gradient(to bottom, #1b3b61, #006699);
  /* background name: midnight blue */
  /* Optionally, set the background size to cover the entire viewport */
  background-size: 100% 100%;
  /* Optionally, prevent background repeat */
  background-repeat: no-repeat;
  /* Optionally, fix the background position */
  background-attachment: fixed;
}

#loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db; /* Spinner top border color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Spinner animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.weather-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  gap: 10px;
  border: 2px solid black;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  color: antiquewhite;
}

.weather-app-top {
  border: 2px solid white;
}

.location-search-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 5px 10px;
}

.city-country {
  display: flex;
  align-items: end;
  border: 2px solid green;
}

.search {
  display: flex;
  align-items: end;
}

.weather-container {
  display: grid;
  flex: 1;
  grid: 1fr/ 2fr 1fr;
  grid-template-areas:
    'temperature-weather weather-details'
    'weather-type-container .';
  border: 2px solid orange;
}

.temperature-weather,
.city-weather-details {
  border: 2px solid darkkhaki;
}

.temperature-weather {
  grid-area: temperature-weather;
  display: flex;
  flex-direction: column;
}

.temperature-number-and-icon {
  display: flex;
  gap: 20px;
}

.temperature-number {
  grid-area: temperature-number;
  padding: 5px;
  border: 2px solid indigo;
  font-size: 8rem;
}

.weather-unit-icon {
  display: flex;
}

.current-weather-icon {
  grid-area: current-weather-icon;
  height: 100px;
  width: auto;
  border: 2px solid red;
}

.temperature-unit {
  flex: 1;
  font-size: 2rem;
  border: 2px solid pink;
  grid-area: temperature-unit;
}

.toggle-units {
  font-size: 0.8rem;
  cursor: pointer;
}

.weather-details {
  display: flex;
  flex-direction: column;
  grid-area: weather-details;
}

.weather-detail {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  padding: 5px;
  border: 2px solid blue;
}

.detail-title {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.detail-data {
  font-size: 1.4rem;
}

.weather-type-container {
  display: flex;
  align-items: end;
  grid-area: weather-type-container;
}

.weather-app-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  align-items: end;
  border: 2px solid rosybrown;
}

.forecast-item {
  flex: 1;
  border: 2px solid rosybrown;
}

.forecast-item * {
  margin-bottom: 5px;
}

/* CSS styles for extra small devices */

@media only screen and (max-width: 576px) {
  /* .grid {
    grid-template: 1fr 0.8fr/ 1fr;
    height: 100vh;
  } */

  .weather-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid orange;
  }

  .weather-details {
    display: flex;
    flex-direction: row;
  }

  .weather-detail {
    align-items: start;
  }
}
