:root {
  --main-font-color: antiquewhite;
  --error-font-color: #ffffcc;
  --background-color-top: #1b3b61;
  --background-color-bottom: #006699;
  --loading-indicator: rgba(255, 255, 255, 0.8);
  --spinner-border: rgba(0, 0, 0, 0.1);
  --spinner-border-bottom: #3498db;
  --search-container-border-bottom: #ccc;
}

body {
  /* Create a diagonal gradient background */
  background: linear-gradient(
    to bottom,
    var(--background-color-top),
    var(--background-color-bottom)
  );
  /* Set the background size to cover the entire viewport */
  background-size: 100% 100%;
  /* Prevent background repeat */
  background-repeat: no-repeat;
  /* Fix the background position */
  background-attachment: fixed;
}

#loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--loading-indicator);
  z-index: 9999;
}

.spinner {
  border: 4px solid var(--spinner-border);
  border-top: 4px solid var(--spinner-border-bottom); /* Spinner top border color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Spinner animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.weather-app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
  margin: 0 40px 0 40px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  color: var(--main-font-color);
}

.weather-app-top {
  margin-bottom: 25px;
}

.location-search-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  height: 80px;
}

.city-country {
  display: flex;
  align-items: flex-end;
  font-size: 2rem;
}

.search-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 0;
  margin-bottom: 5px;
  background-color: var(--background-color-bottom);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 2px solid var(--search-container-border-bottom);
  align-items: flex-end;
}

#search-icon {
  cursor: pointer;
}

.search-container:nth-child(1) svg {
  height: 27px;
  width: 27px;
}

.search-bar {
  min-width: inherit;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  color: var(--main-font-color);
}

.search-bar::placeholder {
  color: inherit;
}

.search-bar::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: var(--background-color-bottom) !important;
}

.search-error-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.search-error-element {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  color: var(--error-font-color);
}

.weather-container {
  display: grid;
  grid: 1fr/ 2fr 1fr;
  grid-template-areas:
    'temperature-weather weather-details'
    'weather-type-container .';
}

.temperature-weather {
  grid-area: temperature-weather;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.temperature-number-and-icon {
  display: flex;
  gap: 20px;
}

.temperature-number {
  padding: 5px;
  font-size: 8rem;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.current-weather div {
  display: flex;
  gap: 10px;
}

.current-weather-icon {
  height: 100px;
  width: auto;
}

.current-weather-type {
  font-size: 3rem;
}

.weather-details {
  display: flex;
  flex-direction: column;
  grid-area: weather-details;
}

.weather-detail {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 10px;
  padding: 5px;
}

.detail-icon {
  display: flex;
}

.detail-icon svg {
  height: 50px;
  width: auto;
}

.detail-title-data {
  display: flex;
  flex-direction: column;
}

.detail-title {
  min-width: 110px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: normal;
}

.detail-data {
  font-size: 1.4rem;
}

.weather-type-container {
  display: flex;
  align-items: flex-end;
  grid-area: weather-type-container;
}

.toggle-units-container {
  display: flex;
  flex: 1;
  padding: 0px 15px 0 15px;
}

.toggle-units {
  display: flex;
  align-items: center;
  min-height: 30px;
  padding: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.weather-app-bottom {
  display: grid;
  grid-template: 1fr 2fr / repeat(3, 1fr);
  grid-template-areas:
    'forecast-heading forecast-heading forecast-heading'
    'forecast-item-one forecast-item-two forecast-item-three';
  align-items: end;
}

.forecast-heading-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  grid-area: forecast-heading;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.forecast-item * {
  margin-bottom: 10px;
}

.forecast-day {
  font-size: 1.2rem;
}

.forecast-high,
.forecast-low {
  font-weight: normal;
}

.forecast-item:nth-child(2) {
  grid-area: forecast-item-one;
}

.forecast-item:nth-child(3) {
  grid-area: forecast-item-two;
}

.forecast-item:nth-child(4) {
  grid-area: forecast-item-three;
}

/* Styles for screens between 992px and 1199px (small desktops) */
@media only screen and (min-width: 0px) and (max-width: 1199px) {
  .weather-app {
    margin: auto;
  }
}

/* CSS styles for extra small devices */

@media only screen and (max-width: 576px) {
  .weather-app {
    height: auto;
    padding: 20px;
    margin: auto;
  }

  .weather-app-top {
    margin-bottom: 20px;
  }

  .city-country {
    font-size: 1.4rem;
  }

  .location-search-container {
    flex-direction: column-reverse;
    height: auto;
    padding: 0px 10px 5px 10px;
    margin: auto;
  }

  .search-error-container {
    justify-content: flex-end;
  }

  .search-error-element {
    height: 30px;
  }

  .weather-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 7px;
  }

  .temperature-weather {
    gap: 0;
    margin-bottom: 40px;
  }

  .temperature-number {
    font-size: 5rem;
  }

  .weather-details {
    display: flex;
    flex-direction: row;
  }

  .weather-detail {
    flex-direction: column;
    align-items: center;
  }

  .detail-title {
    min-width: auto;
    margin-bottom: 5px;
    font-size: 0.9rem;
  }

  .detail-icon {
    margin-bottom: 10px;
  }

  .detail-title-data {
    align-items: center;
  }

  .forecast-heading-container {
    margin: 5px;
  }
}
