body {
  /* Create a diagonal gradient background */
  background: linear-gradient(to bottom, #1b3b61, #006699);
  /* background name: midnight blue */
  /* Optionally, set the background size to cover the entire viewport */
  background-size: 100% 100%;
  /* Optionally, prevent background repeat */
  background-repeat: no-repeat;
  /* Optionally, fix the background position */
  background-attachment: fixed;
}

#loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db; /* Spinner top border color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Spinner animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.weather-app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  gap: 10px;
  padding: 10px;
  border: 2px solid black;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  color: antiquewhite;
}

.weather-app-top {
  border: 2px solid white;
  margin-bottom: 50px;
}

.location-search-container {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  padding: 10px 10px 5px 10px;
}

.city-country {
  display: flex;
  align-items: flex-end;
  font-size: 2rem;
  border: 2px solid green;
}

.search-error-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
}

.search {
  display: flex;
  justify-content: flex-end;
}

.search-bar {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #333;
}

.search-bar:focus {
  border-color: red;
}

.search-bar::placeholder {
  color: antiquewhite;
}

.search-error-element {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  color: goldenrod;
}

.weather-container {
  display: grid;
  grid: 1fr/ 2fr 1fr;
  grid-template-areas:
    'temperature-weather weather-details'
    'weather-type-container .';
  border: 2px solid orange;
}

.temperature-weather,
.city-weather-details {
  border: 2px solid darkkhaki;
}

.temperature-weather {
  grid-area: temperature-weather;
  display: flex;
  flex-direction: column;
}

.temperature-number-and-icon {
  display: flex;
  gap: 20px;
}

.temperature-number {
  padding: 5px;
  border: 2px solid indigo;
  font-size: 8rem;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.current-weather div {
  display: flex;
  gap: 10px;
}

.current-weather-icon {
  height: 100px;
  width: auto;
  border: 2px solid red;
}

.current-weather-type {
  font-size: 3rem;
}

.weather-details {
  display: flex;
  flex-direction: column;
  grid-area: weather-details;
}

.weather-detail {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  /* gap: 10px; */
  padding: 5px;
  border: 2px solid blue;
}

.detail-icon {
  display: flex;
}

.detail-icon svg {
  height: 60px;
  width: auto;
}

.detail-title-data {
  display: flex;
  flex-direction: column;
}

.detail-title {
  min-width: 110px;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.detail-data {
  font-size: 1.4rem;
}

.weather-type-container {
  display: flex;
  align-items: flex-end;
  grid-area: weather-type-container;
}

.toggle-units-container {
  display: flex;
  flex: 1;
  padding: 5px;
  border: 2px solid pink;
}

.toggle-units {
  font-size: 0.8rem;
  cursor: pointer;
}

.weather-app-bottom {
  display: grid;
  grid-template: 1fr 2fr / repeat(3, 1fr);
  grid-template-areas:
    'forecast-heading forecast-heading forecast-heading'
    'forecast-item-one forecast-item-two forecast-item-three';
  align-items: end;
  border: 2px solid rosybrown;
}

.forecast-heading-container {
  display: flex;
  justify-content: center;
  grid-area: forecast-heading;
}

.forecast-item {
  flex: 1;
  border: 2px solid rosybrown;
}

.forecast-item * {
  margin-bottom: 5px;
}

.forecast-item:nth-child(1) {
  grid-area: forecast-item-one;
}

.forecast-item:nth-child(2) {
  grid-area: forecast-item-two;
}

.forecast-item:nth-child(3) {
  grid-area: forecast-item-three;
}

/* CSS styles for extra small devices */

@media only screen and (max-width: 576px) {
  .weather-app {
    height: auto;
  }

  .city-country {
    font-size: 1.4rem;
  }

  .location-search-container {
    flex-direction: column-reverse;
  }

  .search {
    justify-content: center;
  }

  .search-error-container {
    justify-content: flex-end;
  }

  .weather-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid orange;
  }

  .temperature-number {
    font-size: 5rem;
  }

  .weather-details {
    display: flex;
    flex-direction: row;
  }

  .weather-detail {
    flex-direction: column;
    align-items: center;
  }

  .detail-title {
    min-width: auto;
    margin-bottom: 5px;
    font-size: 0.9rem;
  }

  .detail-icon {
    margin-bottom: 10px;
  }

  .detail-title-data {
    align-items: center;
  }
}
